.relogio {
  text-align: center; }

.ponto-relogio {
  font-size: 15em;
  text-align: center;
  color: darksalmon; }

button.ponto-relogio {
  font-size: 2em;
  text-align: center;
  letter-spacing: 3px;
  width: 5em; }
