<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main"/>
    <g:set var="entityName" value="${message(code: 'ponto.label', default: 'Ponto')}"/>
    <title><g:message code="default.edit.label" args="[entityName]"/></title>
</head>

<body>
<div class="row">
    <div class="col-sm-12">
        <h4 style="font-weight: 300;display: inline-block;margin-bottom: 25px;"><g:message code="default.edit.label"
                                                                                           args="[entityName]"/></h4>
        <g:link action="create" class="btn btn-primary btn-flat btn-sm pull-right margin-left-15">
            <i class="glyphicon glyphicon-plus"></i> <g:message code="default.create.label" args="[entityName]"/>
        </g:link>
        <g:link class="btn btn-default btn-sm btn-flat pull-right" action="index"><i
                class="glyphicon glyphicon-arrow-left"></i> <g:message code="default.back.label"
                                                                       default="voltar"/></g:link>
    </div>

    <div class="col-sm-12">
        <g:if test="${flash.message}">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                ${flash.message}
            </div>
        </g:if>
        <g:hasErrors bean="${ponto}">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <i class="glyphicon glyphicon-exclamation-sign"></i> Alguns campos precisam ser corrigidos.
            </div>
        </g:hasErrors>
        <g:form class="form-horizontal" name="pontoForm" novalidate="novalidate"
                resource="${this.ponto}" method="PUT">
            <g:hiddenField name="version" value="${ponto?.version}"/>
            <fieldset class="form">
                <f:all bean="ponto"/>
            </fieldset>
        </g:form>
        <div class="panel-footer clearfix form-actions"
             style="margin-top: 25px;background-color: #fff; border-radius: 0;">
            <button type="submit" form="pontoForm" class="btn btn-success btn-sm btn-flat">
                <i class="fa fa-edit"></i> <g:message code="default.button.update.label"/>
            </button>
        </div>
    </div>
</div>
</body>
</html>
