<!doctype html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta name="layout" content="main"/>
  <title>Cadastro de Funcionário</title>
</head>

<body>

<div id="app-relogio" class="relogio">
  <ponto-relogio value="Registro de Ponto" />
</div>

</body><asset:javascript src="ponto-controller.js" />
</html>
